PORT=3000
NODE_ENV=development
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

SWAGGER_API_URL="http://localhost:3000"
SWAGGER_TITLE="Device Management"
SWAGGER_DESCRIPTION="API para gerenciamento de dispositivos"
SWAGGER_VERSION="1.0"
